/*ROOT*/
@font-family-h: 'Lato', sans-serif;
@font-family-t: 'Poppins', sans-serif;
@block-color: #343434;
@block2-color: #5D5D5D;
@block3-color: rgba(12, 9, 16, 1);
@separation-color: #38040E;
@text-color: #f7f0f0;
@padding-container: 1rem;
@borders: #f7f0f0;
@button-color: #087CA7;
@button-color-hover: #f7f0f0;
@text-hover-button: #38040E;
@cards-background: #f7f0f0;
@cards-color: rgba(12, 9, 16, 1);
@Background-Modal-Color: rgba(255, 255, 255, 0.4);
@Border-Color: #ced4da;
@Input-Focus-Color: #087CA7;
@Input-Color: #f7f0f0;
@Background-Input-Color: #f7f0f0;
@Input-icon-color: rgba(12, 9, 16, 1);
@Failure-Submit-Color: #e3342f;
@Sucess-Submit-Color: #38c172;

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    font-size: min(1.5vmax, 1.8rem);
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

.container {
    font-family: @font-family-t;
    background: @block-color;
    color: @text-color;
}

.titles {
    font-family: @font-family-h;
    font-size: min(2.5vmax, 3rem);
    line-height: 1.2rem;
    font-weight: 700
}

.transitionFocus {
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.focusInput {
    border: 1px solid @button-color;
    box-shadow: 0 0 0 .25rem @Input-Focus-Color;
    z-index: 1
}

.button {
    font-family: @font-family-t;
    width: 100%;
    border-radius: 2rem;
    outline: none;
    border: 2px solid @button-color;
    background: @button-color;
    padding: .5rem;
    color: inherit;
    font-size: 1.5rem;
    transition: all .5s ease-in;

    /*Display*/
    display: flex;
    justify-content: center;

    &:hover {
        border: 2px solid @button-color-hover;
        background: @button-color-hover;
        color: @text-hover-button;
        cursor: pointer
    }

    &:disabled {
        background: @block2-color;
        border-color: @block2-color;
        cursor: not-allowed;
    }

    &:disabled:hover {
        color: inherit;
    }
}

.labels {
    .titles();
    font-size: min(2vmax, 2.5rem);
    margin-bottom: .375rem
}

.success-button {
    width: 100%;
    color: @Sucess-Submit-Color;
    font-weight: 700;
    font-size: 1.2rem
}

.error-button {
    width: 100%;
    color: @Failure-Submit-Color;
    font-weight: 700;
    font-size: 1.2rem
}



/*IMPORTS*/
@import './homepage.less';
@import './header.less';
@import './aside.less';
@import './body.less';
@import './footer.less';
@import './info/aboutme.less';
@import './components/layout.less';
@import './projects/projects.less';
@import './info/services.less';
@import './components/cards.less';
@import './components/modals.less';
@import './components/inputs.less';